<h1>Catalogo dei Corsi</h1> 

@for (int i = 1; i <=10; i++)
{
    <hr>
    <div class="row course">
        <div class="col-md-1">
             <img src="~/logoMC.svg" width="50">
         </div>
        <div class="col-md-5">
            <h2>Titolo del Corso</h2>
            <author>di Nome Autore</author> 
        </div>
        <div class="col-md-2 rating">
             <i class="fa fa-lg fa-star"></i>
             <i class="fa fa-lg fa-star"></i>
             <i class="fa fa-lg fa-star"></i>
                <i class="fa fa-lg fa-star"></i>
                <i class="fa fa-lg fa-star"></i>
        </div>
            <div class="col-md-2 price">
            EUR 10.99<br>
            <s>19,99</s>
            </div>
        <div class="col-md-2">
             <a class="btn btn-primary" asp-action="Detail" asp-controller="Courses" asp-route-id="5">Dettaglio corso 5</a> 
        </div>
    </div>
}





